﻿* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

       -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body {
    font-family: serif;
    height: 923px;
    max-width: 1900px;
    max-height: 923px;
    margin: 0;
    background: -webkit-radial-gradient(black, #005a2f); 
    background: -o-radial-gradient(#005a2f, black);      
    background: -moz-radial-gradient(#005a2f, black);    
    background: radial-gradient(#161616, black);         
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Segoe UI';
    text-shadow: 5px green;
    width: 600px;
    position: relative;
    left: 20%;
    font-size: 36px;
    color: #d8d8d8;
}

.element-list {
    font-family: 'Segoe UI';
    position: absolute;
    top: 50px;
    left: 0;
    float: left;
    overflow-y: scroll;
    max-height: calc(947px - 50px);
    width: 15%;
    background-color: white;
    min-width: 270px;
    z-index: 1;
}

.choose {
    position: fixed;
    height: 50px;
    top: 0;
    background-color: white;
    width: 15%;
    min-width: 270px;
}
.choose input {
    float: left;
    height: 70%;
    margin-top: 8px;
    margin-left: 8px;
    padding-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
    font-size: 20px;
    font-weight: bold;
    outline-color: rgb(39, 186, 127);
}

#input-field {
    text-transform: capitalize;
}

.choose div {
    float: left;
    height: 35px;
    width: 35px;
    margin-top: 8px;
    margin-left: 6%;
    margin-right: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.element-list-item:nth-child(even) {
    background-color: #e2e2e2;
}

.element-list-item {
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
    font-weight: 500;
}

.element-question {
    background-color: rgba(39, 186, 127, .8) !important;
}

.element-table {
    position: absolute;
    left: 20%;
    width: 1440px;
    height: 800px;
    margin: 0;
}

.element {
    margin: 1px;
    width: 76px;
    height: 76px;
    float: left;
    padding: 5px;
    color: #27ffcf;
    border-radius: 7px;
    background-color: rgba(39, 186, 127, 0.5);
    color: #d8d8d8;
}
.undiscovered {
    background-color: rgba(39, 186, 127, 0.3) !important;
}
.element:hover:not(.no-shadow) {
    background-color: rgba(39, 186, 127, 0.7);
}
 .element:hover:not(.undiscovered) {
    cursor: pointer;
 }

.symbol {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 3px;
}

.no-shadow {
    box-shadow: none;
    opacity: 0;
}

.backdropDim {
    opacity: .3;
}

.backdropLight {
    opacity: 1;
}

#modal {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;  
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 450px;
    box-shadow: 20px 20px 60px black;
    background-color: white;
    z-index: 1;
}

.border {
    width: 494px;
    height: 444px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    border: 4px solid black;
}

.atomic-number {
    width: 50%;
    float: left;
    font-size: 36px;
}

.atomic-mass {
    font-size: 36px;
    text-align: right;
}

.atomic-symbol {
    font-size: 200px;
    font-stretch: ultra-condensed;
    text-align: center;
    margin-top: -10px;
    clear: both;
}

.atomic-name {
    font-size: 36px;
    text-align: center;
}

.electron-config {
    font-size: 20px;
    text-align: center;
}