﻿<!DOCTYPE html>

<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Periodic Table</title>
    <link rel="stylesheet" href="app.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="mainController">
    <h1 ng-class="backdrop" ng-click="showModal(false, false)">Periodic Table of Elements</h1>
    <div class="element-list" ng-controller="listController" ng-class="backdrop" ng-click="showModal(false, false)">
        <div class="choose"><input id="input-field" type="text" placeholder="Type symbol here..." maxlength="3" ng-model="atomicSymbol" ng-keypress="checkCorrectSymbol($event)"><div id="feedback-div"></div></div>
        <div class="element-list-item"
             ng-repeat="index in getKeys()"
             ng-click="setSymbolAnswer(index)">
            {{ getElements()[index][0] }}
        </div>
    </div>

    <div class="element-table" ng-class="backdrop">
        <div class="element undiscovered"
             ng-repeat="index in grid"
             ng-class="buildTable(index)"
             ng-click="showModal(true, elemIdx(index))">
            <div>
                {{ elemIdx(index) }}
            </div>
            <div class="symbol">
                {{ getElementSymbol(elemIdx(index)) }}
            </div>
        </div>
    </div>

    <div id="modal" ng-show="modalAppear" ng-click="showModal(false, false)">
        <div class="border">
            <div class="atomic-number">{{atomicNumber}}</div>
            <div class="atomic-mass">{{atomicWeight}}</div>
            <div class="atomic-symbol">{{atomicSymbol}}</div>
            <div class="atomic-name">{{atomicName}}</div>
            <div class="electron-config">{{electronConfig}}</div>
        </div>
    </div>
</body>
</html>

